*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: white;
	font-family: "GothamBook","Hiragino Sans GB","微软雅黑","Microsoft YaHei",sans-serif;
	font-size: 12px;
}
header{
	margin-bottom: 0;
}
ul{
	list-style: none;
}
a{
	color: black;
	text-decoration: none
}
a:hover{
	color: #3e3e3e;
}
span{
	color: #3e3e3e;
}
img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	border: 0;
}
input, textarea {
    font-family: "Helvetica Neue","微软雅黑","Microsoft YaHei",Helvetica,Arial,sans-serif;
    border: none;
}
/*top-note*/
.top-note{
	background: black;
	color: #dedede;
	width: 100%;
	height:38.4px;
	font-family: "GothamBold","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Microsoft YaHei",sans-serif;
    font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	overflow: hidden;
	display: block;
}
.top-note span{
	 color: white;
}
.top-note span:hover{
	 color: white;
}
.top-note-big span{
	 color: white;
}
.top-note-big span:hover{
	 color: white;
}
.top-note-big{
	background: black;
	color: #dedede;
	width: 100%;
	height:90px;
	font-family: "GothamBold","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Microsoft YaHei",sans-serif;
    font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	overflow: hidden;
	display: none;
}
.top-contect{
	padding: 12px 0;
	text-align: center;
}
.top-contect a{
	color: white;
	text-decoration: underline;
}
.note-btn {
	text-align: right;
	vertical-align: top;
	text-decoration: none;
}
.note-btn:hover {
	text-decoration: none;
}
.note-btn .span-item{
	text-decoration: none;
	width: 28px;
	height: 28px;
	text-align: right;
	font-size: 30px;
	font-family: "微软雅黑";
}
.span-item.up{
	display:block;
}
/*top-note  end*/

/*more*/
.navbar-container .navbar-top ul>li .more{
	background: white;
	box-shadow: 0 0 5px rgba(204,204,204,0.75);
	position: absolute;
	z-index: 999;
	display: none;
}
/*link-more*/
.navbar-container .navbar-top ul>li .link-more{
	display: none;
	height: 311px;
	width: 318px;
	padding: 26px 30px 30px 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 31px;
    left: 2;
}
.navbar-container .navbar-top ul>li .link-more .link-title{
	font-size: 15px;
	line-height: 18px;
	color: #000;
	padding-bottom: 18px;
}
.navbar-container .navbar-top ul>li .link-more .contact-service-btn{
	width: 100%;
	height: 45px;
	line-height: 37px;
	margin-bottom: 20px;
	background-color: black;
}
.navbar-container .navbar-top ul>li .link-more .contact-service-btn a{
	height: 40px;
	line-height: 40px;
	color: white;
}
.navbar-container .navbar-top ul>li .link-more .link-splitline{
	position: relative;
	overflow: hidden;
	width: auto;
	height: 14px;
}
.navbar-container .navbar-top ul>li .link-more .link-splitline span{
	display: block;
	width: 58px;
	height: 14px;
	line-height: 14px;
	color: #000;
	text-align: center;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -29px;
}
.navbar-container .navbar-top ul>li .link-more  .link-text{
	width: 52%;
	height: auto;
	float: left;
	padding-top: 22px;
}
.navbar-container .navbar-top ul>li .link-more  .link-text > div{
	font-size: 15px;
	line-height: 18px;
	color: #000;
	margin-bottom: 15px;
}
.navbar-container .navbar-top ul>li .link-more  .link-text > p{
	padding-left: 35px;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	color: #000;
}
.navbar-container .navbar-top ul>li .link-more  .link-text > p .icon{
	position: absolute;
	top: 0;
	left: 0;
}
.navbar-container .navbar-top ul>li .link-more .link-img{
	width: 48%;
	float: left;
	padding: 20px 0 0 12px;
}
.navbar-container .navbar-top ul>li .link-more .link-img .thumbnail{
	padding: 0;
}
.thumbnail{
	display: block;
	padding: 4px;
	border-radius: 4px;
}
.icon-wechatMark {
    width: 27px;
    height: 27px;
    background-position: -274px -490px;
}
.btn-bag{
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
}
.btn-bag-label{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 6;
	width: 100%;
}
/*login-more*/
.navbar-container .navbar-top ul>li .login-more{	
	display:none;
	height: 500px;
	width: 318px;
	padding: 20px 35px ;
	top: 32px;
    right: 220px;
    z-index: 999;
    padding: 20px;
}
.navbar-container .navbar-top ul>li .login-more .login-title{
	font-size: 24px;
	color: #000;
	padding-bottom: 27px;
}
.navbar-container .navbar-top ul>li .login-more .form-group{
	line-height: 1;
	padding-bottom: 16px;
}
.navbar-container .navbar-top ul>li .login-more .form-group .control-label{
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 7px;
	display: inline-block;
}
.navbar-container .navbar-top ul>li .login-more .form-group input{
	height: 30px;
	line-height: 28px;
}
.form-input input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: #999;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 0;
}
.navbar-container .navbar-top ul>li .login-more .form-group .form-checkbox{
	line-height: 13px;
	padding-left: 24px;
}
label.form-checkbox, label.form-radio {
    position: relative;
    min-height: 20px;
    padding-left: 18px;
    cursor: pointer;
    line-height: 20px;
}
.navbar-container .navbar-top ul>li .login-more .form-group .form-checkbox .icon {
    position: absolute;
    top: -1px;
    left: 0;
    cursor: pointer;
}
.is-checked .icon-checkbox15 {
    background-position: -214px -586px;
}
.icon-checkbox15 {
    width: 15px;
    height: 15px;
    background-position: -146px -586px;
    cursor: pointer;
}
.navbar-container .navbar-top ul>li .login-more .form-group .login-forgetPassword {
    display: inline-block;
    float: right;
    text-decoration: underline;
    color: #999;
    font-size: 13px;
}
.navbar-container .navbar-top ul>li .login-more .btn-bag-login {
    margin: 13px 0 28px 0;
    background: black;
}
.navbar-container .navbar-top ul>li .login-more .btn-bag-login a{
    color: white;
}
.navbar-container .navbar-top ul>li .login-more  > p {
    font-size: 16px;
    color: #000;
    line-height: 16px;
    margin-bottom: 17px;
}
.btn-bag {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}
.navbar-container .navbar-top ul>li .login-more .btn-bag-register {
    margin-bottom: 20px;
    background: white;
    border: 1px solid #000000;
}
.navbar-container .navbar-top ul>li .login-more .btn-bag-register:hover{
    background: black;
}
.btn-white {
    width: 100%;
    color: black;
    border: 1px solid black;
    transition: all .2s;
}
.btn-white:hover {
    color: white;
}
/*shopbag*/
.navbar-container .navbar-top ul>li .shop-more {
	display: none;
    width: 312px;
    height: auto;
    top: 32px;
    right: 200px;
    z-index: 999;
    padding: 20px;
}
.navbar-container .navbar-top ul>li .shop-more .shopbag .clashop-num-box:hover{
	color: #000000;
}
.navbar-container .navbar-top ul>li .shop-more .shop-title{
	font-size: 24px;
	color: #000;
	padding-bottom: 7px;
}
.navbar-container .navbar-top ul>li .shop-more .btn-bag-shop {
    margin-bottom: 20px;
    background: white;
    border: 1px solid #000000;
}
.navbar-container .navbar-top ul>li .shop-more .btn-bag-shop:hover{
    background: black;
}
.navbar-container .navbar-top ul>li .shop-more .shop-num-box {
    font-size: 12px;
    color: #000;
    margin-bottom: 20px;
}
.navbar-container .navbar-top ul>li .shop-more .shop-num-box .shop-num {
    font-family: "GothamBold";
    font-size: 16px;
    color: #000;
    position: relative;
    margin: 0 2px;
    top: 1px;
}
/*more end*/
/*固定顶部*/		
.fixed1{
	position: fixed;
	top: 0;
	z-index: 100;
}
                			/*navbar-top*/
		/*@media screen and(min-width: 1280px)*/
@media screen and (min-width:1024px ) {


#pc-nav{
	display: block;
}
#mob-nav{
	display: none;
}
.mobile-show{
	display: none !important;
}
.block-xs{
	display: none;
}
.none-xs{
	display: block;
}

header .navbar-container{
/*	position: relative;*/
	width: 100%;
/*	height: 132.4px;*/
	background: white;
	border: 1px solid #DEDEDE;
}
nav .navbar-top{
	position: absolute;
	top: 0;
	width: 100%;
	height: 44px;
}
.left-box{
	float: left;
	margin-left: 15px;
}
.right-box{
	float: right;
}
.navbar-top ul>li{
	line-height: 44px;
	margin-right: 18px;
	float: left;
	font-size: 14px;
}
.navbar-top ul>li a{	
	text-decoration: none;
}
.navbar-top ul>li span{
	color: black;
}
.navbar-top ul>li span:hover{
	color: lightslategray;
}
.hover-login:hover{
	text-decoration: underline;
	color: black;
}
.hover-register:hover{
	color: lightslategray;
}
.envent-search{
	width: 120px;
	position: relative;
}
.envent-search .search-box {
	position: absolute;
	left: 0px;
	width: 120px;
}
.envent-search .search-box input{
	width: 100%;
	height: 28px;
	padding: 7px 24px 7px 7px;
	background: #FFFFFF;
	border: 1px solid #d1d1d1;
}
.envent-search .search-box .search-btn{
	position:absolute;
	width: 24px;
	left: 90px;
	top: 8px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	float: right;	
}
.envent-search .search-box a img{
	width: 12px;
	height: 12px;
}

.navbar-top ul>li .img-icon{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin-right: 5px;
	display: inline-block;
	background-position: 0 0;
}
.navbar-top ul>li .img-icon.stroe{
	width: 11px;
	height: 18px;
	background-image: url(../img/icon/icon-local-store@2.png);
}

.navbar-top ul>li .img-icon.help{
	width: 18px;
	height: 18px;
	background-image: url(../img/icon/icon-help@2.png);
}
.navbar-top ul>li .img-icon.user{
	width: 15px;
	height: 14px;
	background-image: url(../img/icon/icon-user@2.png);
}
.navbar-top ul>li .img-icon.shop{
	width: 17px;
	height: 20px;
	background-image: url(../img/icon/icon-bag@2.png);
}
/*header-logo*/
nav .header-logo{
	width: 270px;
	margin: auto;
	display: block;
	padding: 36px 0;
	position: relative;
	z-index: 1;
}
nav .font-text-center{
	text-align: center !important;
}
nav .header-logo img{
	width: 100%;
	vertical-align: middle;
}
/*header-menu*/
nav .navbar-menu{
	height: 33.4px;
}
.font-text-center {
    text-align: center !important;
}
.nav-menu-container{
	height: 33.4px;
}
.nav-tabs, .nav-pills {
    display: inline-block;
    
}
 .nav-pills :hover{
 	background: white;
 }
 .nav-nologin{
 	height: 33.4px;
 	margin-bottom: 0;
 }
.nav {
    list-style: none;
    position: relative;
}
.nav-pills > li {
	height: 33.4px;
    padding: 0px 15px 0;
    display: inline-block;  
}
/*.nav-pills > li  :hover{
	border-bottom: 2px solid black;
}*/
/*.nav-pills > li > a::after {
    background: #000;
    bottom: 0;
    content: ' ';
    height: 2px;
    left: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    position: absolute;
    width: 0;
    transition: visibility .3s,opacity .3s,width .3s;
    visibility: hidden;
}*/
.nav-pills li a {
    font-size: 12px;
    font-weight: bolder;
    font-family: "GothamBold","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Microsoft YaHei",sans-serif;
}

.nav-tabs li a, .nav-pills li a {
    font-size: 12px;
    padding: 5px 18px 5px 18px;
    display: block;
    position: relative;
    text-decoration: none;
}

/*more*/
.womenbox{
	height: 227px;
	padding-top: 2px;
	margin-top: 0px;
	padding-bottom: 28px;
	margin-bottom: 0px;
}
.sub-menu {
	display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 3px 0;
    box-sizing: border-box;
}
.nav-menu-container .sub-menu {
    width: 100%;
    left: 0;
    border-radius: 0;
    padding: 0px 5%;
    text-align: center;
    vertical-align: top;
}

.nav-menu-container .sub-menu  .nav-header-top {
    width: 100%;
    overflow: hidden;
    margin:28px auto;
}
.nav-menu-container .sub-menu .nav-header-top .one {
    padding: 0 5%;
    width: 30%;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    float: left;
}
.nav-menu-container .sub-menu .nav-header-top .two {
    padding:  0 5%;
    min-width: 36%;
    max-width: 600px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    float: left;
}
.nav-menu-container .sub-menu .nav-header-top .three {
    max-width: 20%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    float: left;
}
/*one*/
.sub-menu li {
    display: block;
}
 .nav-menu-container .sub-menu .menu-head-tit{
	padding: 0;
	font-size: 12px;
	color: #707070 !important;
	margin-bottom: 12px;
}
 .nav-menu-container .sub-menu .menu-head-tit > a {
    padding: 0;
    font-size: 12px;
    color: #707070 !important;
    margin-bottom: 12px;
}
.sub-menu li {
    display: block;
}
 .nav-menu-container .sub-menu li a {
    color: black;
    padding: 6px 0;
    font-size: 12px;
    border-radius: 4px;
}
.two .menu-head-tit .nav-menu-box {
    float: left;
    padding-right: 2%;
    max-width: 300px;
    width: 50%;
}
.nav-menu-container .sub-menu .nav-header-top .three .scr-title {
    font-size: 12px;
    color: #707070;
    margin: 0 0 14px;
}
.scroll-background-image {
    position: relative;
    z-index: 0;
}
.scroll-background-image img {
    width: 100%;
    height: 100%;
}
/*pc-nav  end*/
.footer-wrapper .footer-top .footer-container .right-section > ul {
    width: 33.333%;
    float: left;
    padding-right: 12px;
    overflow: hidden;
}
.footer-wrapper .footer-top .footer-container > div {
    float: left;
    width: 50%;
}
}
    /*@media screen and(min-width: 1280px)    end   */
.nav-container {
/*    position: relative;*/
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #dedede;
}
 .nav-container .mob-header {
    display: block;
    padding-right: 4px;
    font-size: 0;
    box-shadow: 0 0 6px #d0d0d0;
}
.nav-bar > * {
    vertical-align: middle;
}
/*三个图标*/
.nav-container .mob-header .events-btn-bar,
.nav-container .mob-header .events-mobSearch, 
.nav-container .mob-header .events-mobMinicart {
    text-align: center;
    font-size: 0;
    width: auto;
    padding: 0 8px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.nav-container .mob-header .events-btn-bar {
    float: left;
    width: 40px;
}
.nav-container .mob-header .events-mobMinicart {
    float: right;
    font-size: 12px;
}
 .nav-container .mob-header .events-mobSearch {
    float: right;
}
.nav-container .mob-header .events-btn-bar i,
.nav-container .mob-header .events-mobSearch i, 
.nav-container .mob-header .events-mobMinicart i {
    vertical-align: middle;
}
.close-btn1{
	width: 36px;
	height: 30px;
    background-position: -936px 0;
    margin-top: 16px;
	margin-left: 7px;
}
.menu-bars {
    width: 16px;
    height: 15px;
    background-position: -144px -364px;
    margin-top: 16px;
	margin-left: 7px;
}
.nav-container .mob-header .events-mobMinicart i {
    width: 12px;
    height: 15px;
    background-image: url(../img/icon/icon-bag@2.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav-container .mob-header .events-mobSearch i {
    width: 15px;
    height: 15px;
    background-position: -210px -227px;
}


.nav-container .header-logo {
    transition: all 0s;
    font-size: 0;
    padding: 18px 0;
    width: 130px;
    margin: auto;
	display: block;
	position: relative;
	z-index: 1;
}
.nav-container .header-logo img {
    width: 100%;
    height: 14px;
}

/*nav-box*/
.nav-header-scroll{
	display: none;
	width: 100%;
	height: 10000px;
	position: absolute;
	left: 0;
	top: 89px;
	z-index: 2;
}
.nav-black{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	background: black;
	z-index: 1;
	opacity: 0.6;
}

.nav-content-all{
	position: absolute;
	width: 80%;
	max-width: 616px;
	border-top: 1px solid #D6D6D6;
	z-index: 2;
	background: #fff;
	
}
.nav-menu-box{
	background-color: white;
	min-height: 265px;
	overflow: hidden;
}
.nav-menu-container{
	width: 100%;
}
.nav {
    list-style: none;
    position: relative;
    width: 100%;
}
.nav-header-scroll .nav-menu-container  li {
    padding: 0;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    border-radius: 0;
}
.nav-menu-container  li a {
    letter-spacing: 1px;
    white-space: nowrap;
}
.nav-header-scroll .nav-menu-container  li a {
    font-size: 14px;
    text-align: left;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
}
.nav-header-scroll .nav-menu-container  li {
    background: white;
}
.nav-header-scroll .nav-menu-box .nav-menu-item-sect > a::before {
    width: 8px;
    height: 14px;
    content: "";
    display: inline-block;
    background-image: url(../img/icon/arrow_right@.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.panal-box ul > li > .title-txt {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    padding: 0 12px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 5px;
    white-space: nowrap;
}
.nav-header-personal .panal-box ul > li .img-icon.user {
    width: 15px;
    height: 14px;
    margin-right: 10px;
    background-image: url(../img/icon/icon-user@2.png);
}
.nav-header-personal .panal-box ul > li .img-icon.store {
    width: 11px;
    height: 18px;
    background-image: url(../img/icon/icon-local-store@2.png);
}
.nav-header-personal .panal-box ul > li .img-icon {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 5px;
    display: inline-block;
    background-position: 0 0;
}

    
    /*@media only screen and (min-width: 100px) and (max-width: 1279px)*/

@media only screen and (min-width: 767px) and (max-width: 1024px) {
#mob-nav{
	display: block;
}
#pc-nav{
	display: none;
}
.none-sm{
	display: none;
}
/*footer*/
.footer-wrapper .footer-top {
    padding: 0;
    padding-top: 33px;
}
.footer-wrapper .footer-top .footer-container > div {
    float: none;
    width: 100%;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator {
    margin-bottom: 32px;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator a {
    font-size: 14px;
    line-height: 23px;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator a i {
    width: 12px;
    height: 18px;
    top: -1px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book {
    margin-bottom: 0;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .title {
    font-size: 14px;
    margin-bottom: 10px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box {
    max-width: 100%;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box input {
    padding: 9px 98px 9px 15px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box .sub-btn {
    line-height: 40px;
}
.footer-wrapper .footer-top .footer-container .left-section .social-links {
    padding: 18px 0;
}
.footer-wrapper .footer-top .footer-container > div {
    float: none;
    width: 100%;
}
.footer-wrapper .footer-top .footer-container .right-section > ul {
    width: 100%;
    float: none;
    padding-right: 0;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li {
    border-top: 1px solid #bcbcbc;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > a {
    color: #000;
    font-weight: bold;
    position: relative;
}
.before{
	 background-position: -316px -115px;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > a .icon {
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    background-image: url(../img/icon/icon@x2.png);
    background-repeat: no-repeat;  
    background-size: 500px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > .slide-box {
    display: none;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li {
    border-top: 1px solid #bcbcbc;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li > a {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 17px 12px;
    display: block;
}	
.block-xs{
	display: none;
}
.none-xs{
	display: block;
}
.mobile-show{
	display: none !important;
}
}
/*@media only screen and (min-width: 100px) and (max-width: 1024px)   end  */

@media only screen and (max-width:767px ) {
#mob-nav{
	display: block;
}
#pc-nav{
	display: none;
}
.block-xs{
	display: block;
}
.none-xs{
	display: none;
}
.none-sm{
	display: none;
}
.mobile-show{
	display: block;
}
.my-article .seven-text {
    width: 100%;
    left: 0;
    margin-top: -16px;
    padding: 30px 5px;
    background: #fff;
    position: relative;
}
/*footer*/
.footer-wrapper .footer-top {
    padding: 0;
    padding-top: 33px;
}
.footer-wrapper .footer-top .footer-container > div {
    float: none;
    width: 100%;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator {
    margin-bottom: 32px;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator a {
    font-size: 14px;
    line-height: 23px;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator a i {
    width: 12px;
    height: 18px;
    top: -1px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book {
    margin-bottom: 0;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .title {
    font-size: 14px;
    margin-bottom: 10px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box {
    max-width: 100%;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box input {
    padding: 9px 98px 9px 15px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box .sub-btn {
    line-height: 40px;
}
.footer-wrapper .footer-top .footer-container .left-section .social-links {
    padding: 18px 0;
}
.footer-wrapper .footer-top .footer-container > div {
    float: none;
    width: 100%;
}
.footer-wrapper .footer-top .footer-container .right-section > ul {
    width: 100%;
    float: none;
    padding-right: 0;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li {
    border-top: 1px solid #bcbcbc;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > a {
    color: #000;
    font-weight: bold;
    position: relative;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > a::before {
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    background-image: url(../img/icon/icon@x2.png);
    background-repeat: no-repeat;
    background-position: -316px -115px;
    background-size: 500px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > .slide-box {
    display: none;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li {
    border-top: 1px solid #bcbcbc;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li > a {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 17px 12px;
    display: block;
}	


}
/*@media only screen and (min-width: 767px)  end  */



/* wrapper  container */
.wrapper{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: 1440px;
	background: white;
}
.padd0-lr{
	padding-right: 0px;
	padding-left: 0px;
}
.my-article{
	position: relative;
	margin: 3.6vw auto 0;
	overflow: hidden;
	font-family: "GothamBook","HiraginoSansGB W6","HiraginoSansGB W3","微软雅黑","Microsoft YaHei",sans-serif;
	margin-bottom: 40px;
	margin-top: 10px;
}
.my-article1{
	position: relative;
	margin: 3.6vw auto 0;
	overflow: hidden;
	font-family: "GothamBook","HiraginoSansGB W6","HiraginoSansGB W3","微软雅黑","Microsoft YaHei",sans-serif;
	margin-bottom: 0px;
}

.article-3{
	width: 100%;
	text-align: center;
}
.article-3 a{
	font-size: 14px;
	font-weight: bolder;
	display: block;
	text-align: center;
}
.video-img{
	width: 100%;
	position: relative;
	text-align: center;
}
.video-img .video-btn{
	display: block;
	width: 90px;
	height: 90px;
	position: absolute;
	top: 50%;
	margin-top: -45px;
	left: 50%;
	margin-right: -45px;
}
.video-img .video-btn img{
	width: 100%;
	height: auto;
}

.video-box .media{
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
}
#med{
	display: none;
}
.pc-bottom{
	position: static;
	top: auto;
}
.float-clearfix{
	clear: both !important;
}
.module-btn-box{
	text-align: center;
}
.seven-text h3{
	line-height: initial;
	font-weight: bold;
}
.module-btn-box h3{
	margin-top: 30px;
}
.pc-lspcing-5{
	letter-spacing: 5px !important;
}
.pc-font-GothamBold{
	font-family: "GothamBold"!important;
}
.pc-fs35{
	font-size: 35px !important;
}
.pc-fs45{
	font-size: 45px !important;
}
.pc-fs25{
	font-size: 25px !important;
}
.pc-fs20{
	font-size: 20px !important;
}
.pc-fs14{
	font-size: 14px !important;
}
.pc-mt6{
	margin-top: 6px !important;
}
.pc-mt6{
	margin-top: 30px !important;
}
.my-article .seven-text p{
	font-family: "HiraginoSansGB W6", "HiraginoSansGB W3", 微软雅黑, "Microsoft YaHei", sans-serif;
    margin-top: 20px;
}
.article-3 p{
	text-align: center;
	margin: 25px 0 20px;
	word-spacing: 8px;
	letter-spacing: 1px;
}
.module-btn-box p{
	line-height: 25px;
}
.block{
	display: block !important;
	visibility: visible;
	zoom: normal;
}

.module-btn-box .module-btn>a {
    font-family: "Gotham","HiraginoSansGB W6","微软雅黑","Microsoft YaHei",sans-serif;
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-top: 21px;
    text-decoration: none;
}
.module-btn-box .module-btn>a span{
	color: #000000;
}
.module-btn-box .module-btn>a span:hover{
	color: lightslategray;
}
.pc-text-t1 {
    position: relative;
    top: 1px;
}
.i-black {
    margin-left: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #000;
    border-bottom: 5px solid transparent;
}
.pc-mt15 {
    margin-top: 15px!important;
}
.pc-mt30 {
    margin-top: 30px !important;
}

.my-article img {
    width: 100%;
    height: auto;
}

.my-article .posi {
    position: absolute;
}
.pc-w-32 {
    width: 32% !important;
}
.pc-w-20 {
    width: 20% !important;
}
.pc-w-18 {
    width: 18% !important;
}

.my-article .seven-text.pc-top-12 {
    top: 12%;
}
.my-article .seven-text.pc-top-20 {
    top: 20%;
}
.my-article .seven-text.pc-top-15 {
    top: 15%;
}
.pc-right-0 {
    right: 0 !important;
    left: auto !important;
}
.pc-text-left {
    text-align: left !important;
}

.module-btn-box .module-solid {
    display: block;
    width: 100%;
    max-width: 100px;
    height: 1px;
    border-top: 1px solid #000;
    margin: 20px auto 0;
}
.module-btn-box .module-solid-left {
    display: block;
    width: 100%;
    max-width: 100px;
    height: 1px;
    border-top: 1px solid #000;
    margin: 20px 0 0;
}
.pc-ml0 {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.pc-max-w-1145 {
    max-width: 1145px !important;
}
.pc-max-w-1380 {
    max-width: 1380px !important;
}
.my-article .seven-text h3 {
    font-size: 18px;
    font-family: "HiraginoSansGB W6","HiraginoSansGB W3","微软雅黑","Microsoft YaHei",sans-serif;
    line-height: initial;
    font-weight: bold;
    letter-spacing: 1px;
}

.articlebox-tit {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.pc-pb70 {
    padding-bottom: 70px !important;
}
.pc-font-caslonbtitalic {
    font-family: "caslonbtitalic" !important;
}

.article-pc-bottom {
    max-width: 1200px;
    margin: 0 auto;
}
.article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.article-pc-bottom .articlebox-tit {
    width: 95%;
    margin: 0 auto 25px;
}
.articlebox-tit .tit-line {
    width: 100%;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #aaacae;
}
.articlebox-tit > div {
    display: inline-block;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
    font-size: 13px;
}
.articlebox-tit > div > p {
    font-family: "GothamBold","微软雅黑","Microsoft YaHei",sans-serif;
    line-height: 16px;
}
.article-7 > div {
    position: relative;
    width: 33.33333%;
    padding: 0 15px;
    float: left;
}
.article-7 > div > .img-box {
    padding-bottom: 100px;
}
.article-7 > div > .img-box img {
    width: 100%;
    height: auto;
}
.article-7 > div > .text-box {
    position: absolute;
    top: 0;
    margin-top: 54%;
    left: 19%;
    width: 62%;
    text-align: center;
}
.article-7 > div > .text-box > div {
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.article-7 > div > .text-box > div h3 {
    position: absolute;
    font-size: 14px;
    text-align: center;
    left: 50%;
    width: 240px;
    margin-left: -120px;
    bottom: 65px;
    font-weight: bolder;
    font-family: "GothamBold","微软雅黑","Microsoft YaHei",sans-serif;
}
.article-7 > div > .text-box > div > p {
    font-size: 18px;
    font-family: "GothamBold","微软雅黑","Microsoft YaHei",sans-serif;
    font-weight: bold;
    height: 42px;
}
.article-7 > div > .text-box > div > p > span {
	color: #000000;
    display: inline-block;
    vertical-align: middle;
}
.article-7 > div > .text-box > div > a {
	text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.article-7 > div > .text-box > div > a > i {
    margin-left: 4px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid #000;
    border-bottom: 4px solid transparent;
}

/*footer部分*/
.footer-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	background-color: white;
}

/*foot-returntop*/
.footer-return-top {
    display: none ;
    position: fixed;
    right: 15px;
    bottom: 84px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #E2E2E2;
    cursor: pointer;
    text-align: center;
    z-index: 100;
}
.footer-return-top .icon {
    display: inline-block;
    margin: 20px 0 0;
}
.icon-arrow-up {
    width: 16px;
    height: 11px;
    background-position: 0 -586px;
}
.footer-return-top span {
	display: none;
    text-align: center;
    font-size: 11px;
    color: #999999;
}

/*footer-top部分*/
.footer-wrapper .footer-top {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 45px 0;
}
.footer-wrapper .footer-top .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
	width: 100%;
	height: auto;
}

.footer-wrapper .footer-top .footer-container .left-section {
    padding: 0 12px;
    overflow: hidden;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator {
    margin-bottom: 53px;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator a {
    font-size: 20px;
    line-height: 28px;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
}
.footer-wrapper .footer-top .footer-container .left-section .store-locator a i {
    width: 15px;
    height: 24px;
    background-image: url(../img/icon/icon-local-store@2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 6px;
}

.footer-wrapper .footer-top .footer-container .left-section .news-book {
    margin-bottom: 53px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .title {
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 22px;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box {
    max-width: 528px;
    position: relative;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box input {
    font-size: 12px;
    color: #707070;
    padding: 6px 98px 6px 12px;
    border: 1px solid #d6d6d6;
    width: 100%;
}
.footer-wrapper .footer-top .footer-container .left-section .news-book .email-input-box .sub-btn {
    width: 92px;
    height: 100%;
    line-height: 31px;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
}
.btn-black {
    width: 100%;
    background: #000;
    color: #fff;  
}
.btn {
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0;
    background: 0;
    border: 0;
    color: #000;
    border-radius: 0;
}
.footer-wrapper .footer-top .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.footer-wrapper .footer-top .footer-container .left-section .social-link ul > li {
    float: left;
    margin-right: 30px;
    line-height: 30px;
    font-size: 12px;
}
.footer-wrapper .footer-top .footer-container .left-section .social-link ul > li a {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.footer-wrapper .footer-top .footer-container .left-section .social-link ul > li a:hover {
    font-size: 12px;
    color: lightslategray;
    text-decoration: none;
}
.footer-wrapper .footer-top .footer-container .left-section .social-link ul > li .icon {
    position: relative;
    top: -2px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(../img/icon/icon.png);
    display: inline-block;
}
.icon{
	background-image: url(../img/icon/icon.png);
	display: inline-block;
}

.weibo {
    width: 18px;
    height: 15px;
    background-position: 0 -296px;
}
.weixin {
    width: 18px;
    height: 16px;
    background-position: -76px -296px;
}
.youku {
    width: 18px;
    height: 17px;
    background-position: -146px -296px;
}
.iphone {
    width: 16px;
    height: 16px;
    background-position: 0 -230px;
}
.footer-wrapper .footer-top .footer-container .left-section .social-link ul > li:last-child {
    margin-right: 0;
}
.footer-wrapper .footer-top .footer-container .left-section .social-link ul > li .service {
    width: 17px;
    height: 17px;
    background-image: url(../img/icon/icon-help@2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}



.footer-wrapper .footer-top .footer-container .right-section > ul li.slide-list > a {
    color: #000;
    font-weight: bold;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li > a {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
}
.footer-wrapper .footer-top .footer-container .right-section > ul li > a:hover {
    color: lightslategray;
}

.footer-wrapper .footer-bottom {
    padding: 24px 10px;
}
.footer-wrapper .footer-bottom > ul {
    overflow: hidden;
    text-align: center;
}
.footer-wrapper .footer-bottom > ul > li {
    margin-right: 25px;
    display: inline-block;
    font-size: 12px;
    color: #2e2e2e;
}
.footer-wrapper .footer-bottom > ul > li a {
    color: #707070;
    text-decoration: none;
}
.record-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon/record-icon.png);
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 4px;
}

